In [2]:
# Data Structs (Lists, Dicts, Sets, Tuples, Slicing)
# Lists, Tuples, Sets, Dictionaries

In [3]:
List = [1, 2, 3, 4, 5]
Tuple = (1, 2, 3, 4, 5)
Set = {1, 2, 3, 4, 5}

In [4]:
print(List)
print(Tuple)
print(Set)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}

In [6]:
# indexing zero based indexing
print(List[0])  
print(Tuple[1])  
print(Set)  #here indexing is not possible
print(List[-1])  #negative indexing -> last element

1
2
{1, 2, 3, 4, 5}
5

In [7]:
# functions of List
List.append(7)
print(List)
List.insert(2, 6)  #index, value
print(List)

[1, 2, 3, 4, 5, 7]
[1, 2, 6, 3, 4, 5, 7]

In [ ]:
List.remove(3) # it wiill remove first occurance of 3
print(List)

[1, 2, 6, 4, 5, 7]

In [10]:
List2 = List
print(List2)
List2.append(8)
print(List)
print(List2) # both sharing same memory location

[1, 2, 6, 4, 5, 7, 8]
[1, 2, 6, 4, 5, 7, 8, 8]
[1, 2, 6, 4, 5, 7, 8, 8]

In [ ]:
List3 = List.copy()  # creating a copy of List
List3.append(9)
print(List)
print(List3) #-> not effect in List(original list)

[1, 2, 6, 4, 5, 7, 8, 8]
[1, 2, 6, 4, 5, 7, 8, 8, 9]

In [2]:
lst = [10,3,12,5,7,6,4,9,8]
lst.sort()
print(lst)
lst.reverse()
print(lst)  
lst.sort(reverse=True)

[3, 4, 5, 6, 7, 8, 9, 10, 12]
[12, 10, 9, 8, 7, 6, 5, 4, 3]

In [12]:
List3.clear()
print(List3)

[]

In [ ]:
List2.count(2)  # counts how many times 2 is present in List2
print(List2)
List2.extend([10,13,18])
print(List2)

[1, 2, 6, 4, 5, 7, 8, 8]
[1, 2, 6, 4, 5, 7, 8, 8, 10, 13, 18]

In [3]:
lst3 = [10]
print(lst3)

[10]

In [8]:
tuple1 = (1)
print(tuple1)  # it is considered as integer not tuple
print(type(tuple1))
tuple2  = (1,)
print(tuple2)   
print(type(tuple2))

1
<class 'int'>
(1,)
<class 'tuple'>

In [ ]:
Tuple[0]  # indexing in Tuple
print(Tuple)

Tuple.count(2)  # counts how many times 2 is present in Tuple
print(Tuple)  

Tuple.index(3) # how many times 3 is present in Tuple
print(Tuple)

Tuple2 = Tuple
print(Tuple2)

Tuple2 += (6,7)  # it will create a new Tuple
print(Tuple)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [ ]:
Set.add(6)
print(Set)

{1, 2, 3, 4, 5, 6}

In [17]:
Set.add(6)
print(Set) # not include duplicate values

Set.remove(3)
print(Set)

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

In [3]:
my_set  = {1,2,3,4,5}
print(my_set)
empty_set = set()
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 7}

##  Slicing

In [22]:
 # slicing works only in List and Tuple not in Set
print(List[1:4])  # from index 1 to index 3 and 4 is not included

print(Tuple[0:3])  


print(List[0:3:2])

[2, 6, 4]
(1, 2, 3)
[1, 6]

## Dictionaries

In [27]:
dict = {"name":"abhijeet", "city":"ghaziabd", "hometown":"Kanpur"}
print(dict)
print(dict["city"])
dict["age"] = 25  # adding new key value pair
print(dict)

{'name': 'abhijeet', 'city': 'ghaziabd', 'hometown': 'Kanpur'}
ghaziabd
{'name': 'abhijeet', 'city': 'ghaziabd', 'hometown': 'Kanpur', 'age': 25}

In [31]:
#key is unque , value can be duplicate
dict2 = {"name":"rahul", "city":"ghaziabd", "hometown":"Kanpur","hometown":"Delhi"}
# takes the latest change for duplicate key
print(dict2)

{'name': 'rahul', 'city': 'ghaziabd', 'hometown': 'Delhi'}

In [33]:
# length of data structures
print(len(dict))
print(len(List))
print(len(Tuple))
print(len(Set))

4
11
5
5

In [35]:
print(type(dict))

<class 'dict'>

In [36]:
# finding the key in dictionary
print(dict.keys())
# finding the values in dictionary
print(dict.values())

dict_keys(['name', 'city', 'hometown', 'age'])
dict_values(['abhijeet', 'ghaziabd', 'Kanpur', 25])

In [4]:
d = {'a':1,'b':2}
d

{'a': 1, 'b': 2}

In [11]:
b = dict(Fname = "abhijeet" , Lname = "Singh",age = 18)
b

{'Fname': 'abhijeet', 'Lname': 'Singh', 'age': 18}

In [13]:
print(b.get("age"))

18

In [19]:
d["age"] = 20
print(d)
d["hometown"] = "knp"
d

{'a': 1, 'b': 2, 'age': 20, 'hometown': 'knp'}

{'a': 1, 'b': 2, 'age': 20, 'hometown': 'knp'}

In [23]:
print(d.keys())
print(d.items())

dict_keys(['a', 'b', 'age', 'hometown'])
dict_items([('a', 1), ('b', 2), ('age', 20), ('hometown', 'knp')])

In [25]:
for k in b:
    print(k)

Fname
Lname
age

In [27]:
for v in b.values():
    print(v)

abhijeet
Singh
18

In [32]:
for k , v in d.items():
    # print(k,v)
    print(f"the key is {k} and it's value is {v}")

the key is a and it's value is 1
the key is b and it's value is 2
the key is age and it's value is 20
the key is hometown and it's value is knp

In [29]:
square = {x:x**2 for x in range(1,6)}
square

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}